@import "../../../sass/variables";

$fixed-width: 15vw;

.panel {
    display: flex;
    font-family: 'Roboto', sans-serif;

    .fixed {
        width: $fixed-width;
        height: 100vh;
        background-image: linear-gradient($he-blue, $he-green);

        .indicatorFixed {
            box-sizing: border-box;
            height: 22.6vh;
            margin: 1vw;
            width: $fixed-width - 2vw;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            h1 {
                margin: 0;
                color: white;
                font-size: 10vh;
            }

            h2 {
                margin: 0;
                color: white;
                font-size: 2.5vh;
            }
        }
    }

    .slider {
        background-color: white;
        margin: .5vh .5vw;
        display: grid;
        grid-gap: .5vh;
        height: 99vh;
        width: 99 - $fixed-width;

        .row {
            display: grid;
            grid-gap: .5vh;
            grid-auto-flow: column;

            .frame {
                min-height: 49vh;
                min-width: 49 - $fixed-width/2;
                background-image: linear-gradient(white, rgb(230, 230, 230));
                box-shadow: 0 .5vh 1vh rgba(0, 0, 0, 0.75);
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.25);

                .indicatorNumeric,
                .indicatorMultiple,
                .indicatorStatistic {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    h1,
                    h2,
                    h4 {
                        margin: 0;
                    }
                }

                .indicatorNumeric,
                .indicatorMultiple {
                    display: flex;
                    flex-direction: column;

                    text-align: center;
                    transition: 1.5s;

                    h1,
                    .title,
                    .unitValue {
                        color: $he-blue;
                    }

                }

                .indicatorMultiple {
                    justify-content: center;
                    padding: 0 5%;
                    $title: 15vh;
                    $unitValue: 15vh;
                    $unitName: 6vh;
                    $padding-h: 6vh;
                    $margin-t: 5vh;

                    .title {
                        font-size: $title;
                    }

                    .units {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: space-around;
                        align-items: center;

                        .unit {
                            text-align: center;
                            margin-top: $margin-t;
                            padding: 0 $padding-h;

                            .unitValue {
                                font-size: $unitValue;
                            }

                            .unitName {
                                font-size: $unitName;
                            }
                        }
                    }

                    &[multiple] {
                        .title {
                            font-size: 0.5 * $title;
                        }

                        .units {
                            .unit {
                                margin-top: 0.5 * $margin-t;
                                padding: 0 (0.5 * $padding-h);

                                .unitValue {
                                    font-size: 0.5 * $unitValue;
                                }

                                .unitName {
                                    font-size: 0.5 * $unitName;
                                }
                            }
                        }
                    }
                }

                .indicatorStatistic {
                    flex-direction: column;
                    justify-content: space-evenly;

                    .chart {
                        width: 60%;
                    }

                    .legend {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;

                        .label {
                            display: flex;
                            align-items: center;

                            [label] {
                                height: auto;
                                border-radius: 100%;
                                margin-right: 1vh;
                            }
                        }
                    }

                    &[stretched="true"] {
                        flex-direction: row-reverse;

                        .chart {
                            width: 45%;
                        }

                        .legend {
                            height: 100%;
                            width: min-content;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
